---
import Page from '../../layouts/Page.astro';
import { CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts
        .map((post) => ({
            params: { slug: post.slug },
            props: post,
        }));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();





---

<Page>
    <div class="m-10">
      <h1 class="text-lg">{post.data.title}</h1>
      <Content />
      <a class="text-green-500 hover:text-green-600" href="/blog">
          Back to blog
      </a>
    </div>
</Page>
