---
import Page from '../layouts/Page.astro';
import Icon from '../components/icon.astro';
import ScissorLeft from '../icons/scissor-left.svg?raw';
import ScissorRight from '../icons/scissor-right.svg?raw';
import Github from '../icons/github.svg?raw';
import Twitter from '../icons/github.svg?raw';
---
<Page>
  <div>
      <div class="w-full md:w-1/2 h-64 mx-auto flex items-center text-primary">
          <Icon icon="scissor-left" class="w-full h-full text-rose mr-5" />
          <div class="text-2xl font-mono">tailor</div>
          <Icon icon="scissor-right" class="w-full h-full text-rose ml-5" />
      </div>
      <div class="w-full text-center text-rose font-mono">
        Edit Any Website
      </div>
      <div class="text-center text-primary font-mono justify-center flex my-3">
        <a target="_blank" href="https://github.com/cryingpotat0" class="text-primary mx-3 hover:text-buff">
        </a>
        <a target="_blank" href="https://twitter.com/cryingpotat0" class="text-primary mx-3 hover:text-buff">
        </a>

      </div>
  </div>
</Page>

