---
import Page from '../layouts/Page.astro';
import Icon from '../components/icon.astro';
import GetStarted from '../components/get-started.astro';
import Footer from '../components/footer.astro';
import Why from '../components/why.astro';
import What from '../components/what.astro';
import Header from '../components/header.astro';
import Splash from '../components/splash.astro';

import { getCollection } from "astro:content";

const features = await getCollection("feature");
const renderedFeatures = [];
for (const feature of features) {
  const { Content } = await feature.render();
  renderedFeatures.push(Content);
}

const links = [
    {
        icon: "github",
        href: "https://github.com/cryingpotat0/tailor-landing-page",
    },
    {
        icon: "twitter",
        href: "https://twitter.com/cryingpotat0",
    }
];

---
<Page>
  <Header />
  <Splash />
  <div class="space-y-24 px-8 py-32">
    <Why />
    <What />
  </div>
  <Footer />
</Page>


