---
import Icon from './icon.astro';
---

<section class="relative h-full">
  <div class="relative grid h-full place-items-center">
    <h2
      class="flex flex-col "
    >
      <Icon icon="tailor" class="h-36 text-white md:h-48" />
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-6xl md:text-8xl"
      >
        <span>Tweak Your Website</span>
        <br /> <span>From The Web.</span>
      </div>
    </h2>
  </div>
</section>
