---
import Icon from './icon.astro';
---

<section class="relative h-full">
  <div class="relative grid h-full place-items-center">
    <h2
      class="flex flex-col items-center justify-center text-center"
    >
      <Icon icon="tailor" class="h-36 text-white md:h-48" />
      <div
        class="text-center font-extrabold tracking-tighter text-4xl md:text-5xl text-primary"
      >
        <span>Tweak Yourrrrr Website</span>
        <br /> <span>From The Web.</span>
      </div>
      <iframe class="my-5 w-full md:w-3/4 aspect-video h-auto" src="https://www.youtube.com/embed/gCo3wC-kY4s?si=XxciNPaBj7W4tB-_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <div class="flex items-center align-middle justify-center mt-4">
        <a class="bg-buff hover:bg-rose text-primary w-128 p-2 rounded-lg font-bold" href="#what">
          Get Started
        </a>
      </div>
    </h2>
  </div>
</section>
