---
import Icon from './icon.astro';
---

<section class="relative h-full">
  <div class="relative grid h-full place-items-center">
    <h2
      class="flex flex-col "
    >
      <Icon icon="tailor" class="h-36 text-white md:h-48" />
      <div
        class="text-center font-extrabold tracking-tighter text-6xl md:text-8xl text-primary"
      >
        <span>Tweak You're Website</span>
        <br /> <span>From The Web.</span>
      </div>
      <div class="flex items-center align-middle justify-center mt-4">
        <a class="bg-buff hover:bg-rose text-primary w-128 p-2 rounded-lg font-bold" href="#what">
          Get Started
        </a>
      </div>
    </h2>
  </div>
</section>
