---
import Tailor from '../components/Tailor.tsx';

const showTailor = import.meta.env.SHOW_TAILOR;

interface Menu {
  label: string;
  href: string;
  external?: boolean;
  badge?: string;
}

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tailor</title>
	</head>
	<body class="m-10 bg-secondary">
        {showTailor ? <Tailor client:load/>: null}
        <slot />
	</body>
    <style is:global>
        astro-dev-toolbar {
            display: none;
        }
    </style>

</html>

